/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body{
    font-family: Arial, sans-serif;
    background-color: #2a2929;
}

/* Navigation */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #ea0707;
    padding: 20px;
}

.logo{
    color: white;
}

.nav-links{
    display: flex;
    list-style: none;
}

.nav-links li{
    margin-left: 20px;
}

.nav-links a{
    color: rgb(200, 40, 134);
    text-decoration: none;
    transition: 0.3s;
}

/* Hover Effects */
.nav-links a:hover{
    color: orange;
}

/* Hero Section */
.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 50px;
    flex-wrap: wrap;
}

.hero-text{
    max-width: 500px;
}

.hero-text h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.hero-text p{
    margin-bottom: 20px;
}

/* Button */
.btn{
    background-color: orange;
    color: rgb(235, 205, 205);

    padding: 12px 20px;
    text-decoration: none;

    border-radius: 5px;
}

/* Button Hover */
.btn:hover{
    background-color: rgb(56, 78, 136);
}

/* Image */
.hero-image img{
    width: 300px;
    border-radius: 10px;
}

/* Video */
.video-section{
    text-align: center;
    padding: 40px;
}

video{
    width: 80%;
    max-width: 700px;
}

/* About Page */
.about{
    padding: 50px;
    text-align: center;
}

/* Contact Page */
.contact{
    padding: 50px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;

    width: 300px;
    margin: auto;
}

input,
textarea{
    margin: 10px 0;
    padding: 10px;
}

button{
    background-color: rgb(190, 40, 6);
    color: rgb(9, 142, 35);

    border: none;
    padding: 12px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(113, 74, 74);
}

/* Footer */
footer{
    background-color: #403f3f;
    color: rgb(246, 126, 126);

    text-align: center;
    padding: 20px;
}

.socials a{
    color: orange;
    margin: 10px;
    text-decoration: none;
}

/* RESPONSIVE DESIGN */
@media(max-width: 768px){

    .hero{
        flex-direction: column;
        text-align: center;
    }

    .nav-links{
        flex-direction: column;
    }

    .nav-links li{
        margin: 10px 0;
    }

    .hero-image img{
        width: 200px;
        margin-top: 20px;
    }

}